{% include 'page/header.html' %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Detail Buah</h1>
</div>
<!-- Single Page Header End -->

<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
  <div class="container py-5">
    <div class="row g-4 mb-5">
      <div class="col-lg-8 col-xl-9">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="border rounded">
              <a href="#">
                <img src="../static/assets-page/img/single-item.jpg" class="img-fluid rounded" alt="Image" />
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <h4 class="fw-bold mb-3">Brocoli</h4>
            <p class="mb-3">Rp.-</p>
            <h6 class="fw-bold mb-3">- Kg Tersedia</h6>
            <p class="mb-3">Deskripsi</p>
            <p class="mb-4">The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc.</p>
            <p class="mb-4">Susp endisse ultricies nisi vel quam suscipit. Sabertooth peacock flounder; chain pickerel hatchetfish, pencilfish snailfish</p>
            <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fab fa-whatsapp fa-lg me-2 text-primary"></i>Pesan Sekarang</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single Product End -->
{% include 'page/footer.html' %}
